menu "Custom Hotplug drivers"

config CUSTOM_HOTPLUG
	bool "Enable custom hotplug support"

config AIO_HOTPLUG
	bool "All in One HotPlug"
	depends on SMP && HOTPLUG_CPU
	default n
	help
	  an All in One HotPlug for Traditional Quad-Core SoCs and 
	  Hexa/Octa-Core big.LITTLE SoCs.

config ALUCARD_HOTPLUG
	bool "Alucard hotplug"
 	default n
 	help
 	  Generic Alucard-hotplug cpu hotplug driver for ARM SOCs.

config ASMP
        bool "Multi-core automatic hotplug support"
	depends on SMP && HOTPLUG_CPU
        default n
        help
          Automatically hotplugs the multiple cpu cores on and off
          based on cpu load and suspend stat

          Note that this will BREAK any runtime patching of the kernel text
          (i.e. anything that uses apply_alternatives,
          aarch64_insn_patch_text_nosync, etc. including the various CPU
          errata workarounds in arch/arm64/kernel/cpu_errata.c).

	  For MPU based protection-enabled targets please refer to
	  MSM_KERNEL_PROTECT_MPU

config BRICKED_HOTPLUG
	bool "Enable kernel based mpdecision"
	depends on MSM_RUN_QUEUE_STATS
	default n
	help
	  This enables kernel based multi core control.
	  (up/down hotplug based on load)

config CLUSTER_HOTPLUG
	bool "Enable cluster-hotplug cpu hotplug driver"
        depends on HOTPLUG_CPU
	default n
	help
	  Generic Cluster-hotplug cpu hotplug driver for ARM SOCs big.little.

config INTELLI_HOTPLUG
	bool "Intelli hotplug driver"
	depends on HOTPLUG_CPU
	default n
	help
	  An intelligent cpu hotplug driver for
	  Low Latency Frequency Transition capable processors.

config MAKO_HOTPLUG
        bool "Mako Hotplug"
        default n
        help
          Mako Hotplug: A custom hotplug by fransico franco.

config MSM_HOTPLUG
 	bool "MSM hotplug by [Fluxi]"
 	depends on HOTPLUG_CPU
 	default n
 	help
 	  The MSM hotplug driver controls on-/offlining of additional cores based on current cpu load.

config THUNDERPLUG_CONTROL
	bool "Enable plugging down/up of cores based on load per core"
	depends on SMP && HOTPLUG_CPU
	default n
	help
	  This driver hotplugs cpu cores based on per-core load.

endmenu
